<div class="container-fluid d-flex">
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh; position: fixed;">
     
      <hr class="mt-5">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link text-white" routerLink="dashboard">
            <i class="fas fa-user me-2"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-white" routerLink="addmember">
            <i class="fas fa-user me-2"></i>
            Add Member
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white" routerLink="addtrainer">
            <i class="fas fa-tachometer-alt me-2"></i>
            Add Trainer
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white" routerLink="attendance">
            <i class="fas fa-boxes me-2"></i>
            Attendance
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white" routerLink="payment">
            <i class="fas fa-list me-2"></i>
           Payment
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown-container mt-auto">
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Tejashree Kale</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main content area -->
    <div class="main-content flex-grow-1 ms-3">
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <i class="fas fa-tachometer-alt me-2" style="font-size: 32px;"></i>
                <span class="fs-4">Gym</span>
              </a>
              <form class="d-flex me-3">
                <input class="form-control search-bar" type="search" placeholder="Search" aria-label="Search">
            </form>
          <span class="navbar-brand mb-0 h1 mx-auto">Welcome to the Gym</span>
          
          <button class="btn btn-outline-light btn btn-danger" type="button" onclick="window.location.href='/login';">Logout</button>
        </div>
      </nav>

      <!-- Main content goes here -->
      <div class="container mt-5">
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
  
        
  

